@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #fbd4d4;
  margin: 3em;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: #a11d21;
  font-size: 4rem;
}

h2 {
  font-family: "Oswald", sans-serif;
  color: #f1738e;
  font-size: 2rem;
}

span {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 2rem;
}

p {
  font-family: "Oswald", sans-serif;
  color: #fbd4d4;
  font-size: 1rem;
}

.faces {
  background-color: #ef6283;
  border-radius: 20px;
}

.items {
  background-color: #f7a6ac;
  border-radius: 20px;
  text-align: center;
}

.heartbackground {
  left: 0;
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px;
  background: url("../images/heartbackground.svg") no-repeat center center / contain transparent;
  animation: pulse 1s infinite alternate;
  transform-origin: center;
}

@keyframes pulse {

  0% {
    width: 30px;
    height: 30px;
  }

  100% {
    width: 30px;
    height: 30px;
  }
}

div#text {
  height: 8em;
  white-space: nowrap;
  overflow: hidden;
}

.hover-heart {
  animation: wiggle 1s ease-in;
  opacity: 1;
}

@keyframes wiggle {

  0% { transform: translate(0, 0); }

  50% { transform: translate(20px); }

  75% { transform: translate(-20px); }

  100% { transform: translate(0, 0); }

}

.smirk {
  transition: 1s ease;
  opacity: 0;
}

.blush {
  transition: 1s ease;
  opacity: 0;
}

.heart {
  transition: 1s ease;
  opacity: 0;
}

.show {
  transition: 1s ease;
  opacity: 1;
}

.inflate {
  transition: 1s ease;
  opacity: 0;
}

@keyframes bounce {

  0% {
    height: 50px;
    width: 50px;
  }

  100% {
    height: 100px;
    width: 100px;
  }
}

.appear {
  height: 0;
  width: 0;
  opacity: 1;
  animation-name: none;
}

.gifts {
  opacity: 0;
}

@keyframes slide {

  0% { transform: translate(0, 0); }

  50% { transform: translate(15px); }

  75% { transform: translate(-15px); }

  100% { transform: translate(0, 0); }

}

.animate {
  animation: slide 1s ease-in;
  opacity: 1;
}
